<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application</title>
    <link rel="stylesheet" href="public/style.css">

</head>

<body>
    <div class="app">
        <div class="item_container">
            {{#each this}} {{#if type}}
            <div id="{{id}}" data-enabled="{{isEnabled}}" class="item">
                <div class="status"></div>
                <div class="type">{{type}}{{id}}</div>
                {{#if channels}}
                    <a href="/devices/{{id}}/changechannel/next">prev</a>
                    <p>{{currentChannel}}</p>
                    <a href="/devices/{{id}}/changechannel/prev">next</a>
                {{/if}}
                <div class="power_controls">
                    <a href="/devices/{{id}}/changestatus/on" class="toggle">On</a>
                    <a href="/devices/{{id}}/changestatus/off" class="toggle">Off</a>
                </div>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
    <footer class="controls">
        <form action="/devices" method="post">
            <input type="text">
            <input type="submit">
        </form>

        <form action="/devices" method="post" class="create_device">
            <select required size="3" name="type" id="type">
                <option value="TV">TV</option>
                <option value="Lights">Lights</option>
                <option value="Climate">Climate</option>
            </select>
            <input type="text" name="settings" placeholder="settings">

            <input type="submit">
        </form>
    </footer>
</body>
</html>